@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 300;
	src: url("../assets/fonts/WorkSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 500;
	src: url("../assets/fonts/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 600;
	src: url("../assets/fonts/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/WorkSans-Bold.ttf") format("truetype");
}

@layer base {
	html {
		font-family: "Work Sans", sans-serif;
	}

	body {
		background: #0d121c;
	}
}

.station-marker {
	width: 0;  
	height: 0;  
	border-left: 16px solid transparent; 
	border-right: 16px solid transparent; 
	border-bottom: 16px solid green; 
}
